<div class="welcome-text">
	<h1>Hi Boo...</h1>
</div>
<h2 class="login-span">May I verify you?</h2>
<div class="button-container">
    <%= button_to 'Yes', login_path, method: :get, class: 'login-button' %>
</div>

